@page "/"

<h1>Digitec Dashboard Züri</h1>

<label>Vorname</label>
<input type="text" placeholder="Vorname"/>
<label>Geburtstag</label>
<input type="date" placeholder="Geburtstag"/>
<button type="submit">Hinzufügen</button>